.p-slider {
  .milestone-container {
    display: flex;
    padding-top: 0.5rem;
    text-align: end;
    font-size: 14px;
    font-weight: 400;
    color: #818f99;
  }
}

.container {
  display: flex;

  form {
    width: 20%;
  }
}
